@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1603084845673'); /* IE9 */
  src: url('iconfont.eot?t=1603084845673#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABnQAAAKFAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gQkBNgIkAwgLBgAEIAWEbQczG7IFyC6wbdiTIG2rKAqQ27nv94PjCTnx8N8av/tmZ79aEtEomsWxTCIUmp0OoVCaRUgksUhTCW0n5zKPoHZzyxChkPb75TRPcgjnJ18N2Fi2JNzk9GADziySBDYddfEbQuvXWudBztLzeS6nN4EOZH6gHPeisSYf9QKMtwa6B0YBB1JCGTdML1/gQNwn0KBfEdNez9AUcMr0skDcEHgKOAsxWWbFOqGmYW8GcV+pLu2n4170/fhlOZxAUhZAtx1e72ZB21dMmeVWVdcCQpyADpcoMAvIxGljbp9FMM6iIWc1DByrOfjKfxV4xVFdgv11urEJ9EL1M2mc9lEbE8hwcgQwP+l9yY1BqzXmffgilZq92LR+NkWbH7ztDjx5n2ZKjj5fn6YLT3I3CYccfbr91oOU/rzg9Ec5bzhQOf1fBZJ3z8quZJo9/gX/5SeDC6AN/ax4ll4Fgo/DrwbW/uoarQA+ZHHkzIYFqNuxP/hBmoEdWei0LV1JjfzJSC4iAZsaUNGhDj9T7d13Uwp1uu8pUKsvQ6HOKJnZWZQaraJGnU00mNF7uFEnzCKyCzBtGyC0uUXS4ikKbZ7JzH6j1OMXNdrCggbn0Xlmo/EQ3LsYUQSxkE5AgVEVzvqIO26eQHxEonBeF/EzCBtCEpaXlJWLvUhBeIkNRpSvIISDHFZl2AMeQ5KkQg2rYcSQkhAhWkNpKdf0ohJGlYHbLgyhEAgLoiVAAoZKwQW9CXfl8xMQXoSEgjsUueoMBDMI00PlSpQNIHvNyiDFozxjiOJVIAgOxMFUMqgHzEIkEhWkNc8KQxhEidCEjKZBqenGDTWXbG+V/24fNNCOFGaLBdTfVCNxgVL4GgAA') format('woff2'),
  url('iconfont.woff?t=1603084845673') format('woff'),
  url('iconfont.ttf?t=1603084845673') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1603084845673#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang6:before {
  content: "\e679";
}

